body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #97c7f9;
}

#root, .App {
  height: 100%;
  width: 100%;
}

.header {
  height: 6vh;
  text-align: center;
  background-color:#007BFF;
  color: white;
  margin: 0;
  padding: 2vh;
  font-size: 4vh;
}

.main-container {
  height: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1vh 3% 1vh 3%;
}

.search-container {
  flex: 1; /* Take up 1 part of the container */
  padding-right: 5%;
}

.weather-container {
  flex: 2; /* Take up 2 parts of the container, making it larger */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.current-weather {
  background-color: #3f51b5;
  color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-weather img {
  width: 60px;
  height: 60px;
}

.current-weather h2,
.current-weather p {
  margin: 5px 0;
}

.forecast-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.forecast-container > div {
  background-color: #78909c;
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.forecast-container > div img {
  width: 40px;
  height: 40px;
}


/* Add additional styling for input and button in SearchBar */
input[type="text"], input[type="email"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2%;
  margin-bottom: 2%;
}

button:hover {
  background-color: #0056b3;
}

.search-history-container {
  display: flex;
  flex-direction: column;
}

.search-history-card {
  background-color: #78909c;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-history-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-history-card button {
  padding: 5px 10px;
  background-color: #0288d1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.search-history-card button:hover {
  background-color: #0277bd;
}